### Chapter 03 데이터 정제하기
#### 03-2 잘못된 데이터 수정하기
- isna(), replace()
- 정규표현식 
- contain(), 크기비교 메서드 
- 모자란 값 web crawling 하여 채워넣기 
---

In [1]:
import numpy as np 
import pandas as pd 
ns_book4 = pd.read_csv('data/ns_book4.csv', low_memory=False)
print(ns_book4.shape)
ns_book4.head(2)

(384591, 13)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19

In [2]:
ns_book4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 384591 entries, 0 to 384590
Data columns (total 13 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   번호       384591 non-null  int64
 1   도서명      384188 non-null  object
 2   저자       384393 non-null  object
 3   출판사      379950 non-null  object
 4   발행년도     384577 non-null  object
 5   ISBN     384591 non-null  object
 6   세트 ISBN  56576 non-null   object
 7   부가기호     310386 non-null  object
 8   권        63378 non-null   object
 9   주제분류번호   364727 non-null  object
 10  도서권수     384591 non-null  int64
 11  대출건수     384591 non-null  float64
 12  등록일자     384591 non-null  object
dtypes: float64(1), int64(2), object(10)
memory usage: 38.1+ MB

---
#### 1. 누락된 값의 처리 : na(), replace()

In [3]:
## null값 확인 
ns_book4.isna().sum()

번호              0
도서명           403
저자            198
출판사          4641
발행년도           14
ISBN            0
세트 ISBN    328015
부가기호        74205
권          321213
주제분류번호      19864
도서권수            0
대출건수            0
등록일자            0
dtype: int64

In [4]:
## fillna()로 null값을 원하는 값으로 변경 
ns_book_4_1 = ns_book4.fillna('없음') 
ns_book_4_1.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,없음,없음,없음,없음,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,없음,없음,없음,없음,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,없음,없음,없음,없음,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,없음,없음,없음,없음,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,없음,없음,없음,없음,1,0.0,2021-03-19

In [5]:
## replace() 사용 
ns_book_4_2 = ns_book4.replace([np.nan, '2021'],['없음', '21'])
ns_book_4_2.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,21,9788937444319,없음,없음,없음,없음,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,21,9791190123969,없음,없음,없음,없음,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,21,9788968332982,없음,없음,없음,없음,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,21,9788970759906,없음,없음,없음,없음,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,21,9788934990833,없음,없음,없음,없음,1,0.0,2021-03-19

---- 
#### 2. 정규표현식 
- 숫자 : \d\d\d\d, 문자 : \D\D\D\D 
- ( )로 묶으면 그룹이 생성됨 --> r'\1' 첫번째 그룹을 지칭 
- r"--" : 해당 부분이 정규표현식 부분임을 표시 
- regex = True : 정규표현식을 사용한다는 의미

In [6]:
## 아래는 발행년도 20xx --> xx로 변경하라는 뜻, 아래와 같이 자릿수가 몇개인지를 지정하는 방법도 있음 
## #ns_book_4_3 = ns_book4.replace({'발행년도':{r'\d{2}(\d{2})' : r'\1'}}, regex = True )

ns_book_4_3 = ns_book4.replace({'발행년도':{r'\d\d(\d\d)' : r'\1'}}, regex = True )
ns_book_4_3[100:102]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
100,101,No라고 말할 줄 아는 남편과 아내 - 개정판,"헨리 클라우드, 존 타운센드 (지은이), 김진웅 (옮긴이)",좋은씨앗,18,9788958743019,NaN,NaN,NaN,234.9,1,1.0,2021-03-15
101,102,"D2C 레볼루션 - 스타트업부터 글로벌 기업까지, 마켓 체인저의 필수 전략","로런스 인그래시아 (지은이), 안기순 (옮긴이)",부키,21,9788960518483,NaN,NaN,NaN,325.1,1,0.0,2021-03-15

In [7]:
## 저자 컬럼의 (지은이)와 (옮긴이) 없애기.  ## .은 문자를, \s는 공백을 표시 & 역슬래시(\)는 괄호를 문자로 인식 
## 로런스 인그래시아 --> (.*) 
## 공백            --> \s 
## (지은이)        --> \(지은이\)  **( 또는 )앞에 역슬래시를 붙이지 않으면, 정규표현식의 그룹을 만들라는 것으로 인식한다. 

ns_book_4_4 = ns_book4.replace({'저자': {r'(.*)\s\(지은이\)(.*)\s\(옮긴이\)': r'\1\2'},
                                '발행년도': {r'\d{2}(\d{2})': r'\1'}}, regex=True)
ns_book_4_4[100:102]

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
100,101,No라고 말할 줄 아는 남편과 아내 - 개정판,"헨리 클라우드, 존 타운센드, 김진웅",좋은씨앗,18,9788958743019,NaN,NaN,NaN,234.9,1,1.0,2021-03-15
101,102,"D2C 레볼루션 - 스타트업부터 글로벌 기업까지, 마켓 체인저의 필수 전략","로런스 인그래시아, 안기순",부키,21,9788960518483,NaN,NaN,NaN,325.1,1,0.0,2021-03-15

----
#### 3. 잘못 기록된 값 처리 
- contains(), gt(), ge(), lt(), le()

In [8]:
## info() : 발행년도 = object인 이유는? 
ns_book4['발행년도'].astype('int32')

ValueError: invalid literal for int() with base 10: '1988.'

In [9]:
## 10번째 행에 1988. 이라는 문자가 들어가 있음. 다른 이상한 건 없는지 확인 
## 발행년도 컬럼에 숫자가 아닌(문자인) 것과, null값이 있는지 파악 

ns_book_4_5 = ns_book4['발행년도'].str.contains('\D', na=True)
print(ns_book_4_5.sum())
ns_book4[ns_book_4_5].head(10)

1777

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
19138,19565,단국강토,홍태수 저,매일경제신문사,1988.,9788974420031,NaN,NaN,NaN,511.1,1,1.0,2019-12-19
19227,19736,삼성의 역사,송부웅 撰,삼양,단기4334[2001],9788985464369,NaN,0,NaN,911.02,1,1.0,2019-12-06
26097,26812,배고픈 애벌레,에릭 칼 글·그림 ;이희재 옮김,더큰컴퍼니,[2019],9788959514083,NaN,NaN,NaN,843,1,0.0,2019-08-12
29817,30586,(The) Sopranos sessions,"Matt Zoller Seitz,$eAlan Sepinwall,$eLaura Lip...",Harry N Abrams Inc,2019.,9781419734946,NaN,NaN,NaN,326.76,1,0.0,2019-06-13
29940,30709,다음엔 너야,에른스트 얀들 글;노르만 융에 그림;박상순 옮김,비룡소,2018.,9788949110646,9788949110004,7,NaN,853,1,9.0,2019-06-04
29987,30756,핀테크 관련 최대수혜주의 핫 키워드와 이슈 모르면 주식 대박 힘들다,서울공대OB주식연구회 지음,비피기술거래,[2019],9791161822778,NaN,1,NaN,327,1,5.0,2019-06-04
30838,31616,본격 한중일 세계사 5,굽시니스트 지음,위즈덤하우스,NaN,9791190065092,NaN,NaN,NaN,NaN,0,0.0,2019-05-28
32500,33314,新분카일본어=Shin Bunka Japanese,文化外國語專門學校 日本語課程 저,시사일본어사,2003+,9788940271841,9788940271834,1,1,730,1,11.0,2019-05-03
32515,33329,너희가 영어발음을 아느냐,박희석;김정숙 [공]저,월드컴,[2000-2002],9788981274474,NaN,1,NaN,741.1,3,66.0,2019-05-03
32928,33772,소공녀(중학교 영어로 다시 읽는 세계명작 New Collection.13),Frances Hodgson Burnett 원작 ;넥서스콘텐츠개발팀 엮음,넥서스,2011[실은 2012],9788957979457,9788957974674,1,13,747,1,3.0,2019-04-30

----
#### 1) 정규표현식으로 숫자만 골라내고, 
#### 2) 4자리 숫자가 아니거나 기타 이상한 값들은 임의로 -1로 변경, 
#### 3) 말이 안되는 연도 -1로 변경 : 1900년 이전, 4000년 이상 
----

In [10]:
ns_book5 = ns_book4.replace({'발행년도': r'.*(\d{4}).*'}, r'\1', regex=True)
ns_book5.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0.0,2021-03-19

In [11]:
unkown_year = ns_book5['발행년도'].str.contains('\D', na = True)
ns_book5[unkown_year].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
30838,31616,본격 한중일 세계사 5,굽시니스트 지음,위즈덤하우스,NaN,9791190065092,NaN,NaN,NaN,NaN,0,0.0,2019-05-28
39130,40141,정책금융의 현황과 발전과제,정책금융연구회,한국산업은행,NaN,9788992784108,NaN,NaN,NaN,327.1,1,0.0,2019-01-22
39256,40268,서울지역 유적 발굴조사 총서 3,서울역사박물관,서울역사박물관,NaN,9791186324714,9791186324431,NaN,NaN,NaN,0,0.0,2019-01-22
76836,81202,흰머리 큰줄기,한호진 지음,秀文出版社,[발행년불명],9788973010769,NaN,0,NaN,699.1,1,1.0,2016-11-10
150543,160436,(속) 경제학사,박장환 지음,NaN,[20--],9788994339207,NaN,1,NaN,320.9,1,2.0,2012-11-19

In [12]:
ns_book5.loc[unkown_year, '발행년도'] = -1
ns_book5[unkown_year].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
30838,31616,본격 한중일 세계사 5,굽시니스트 지음,위즈덤하우스,-1,9791190065092,NaN,NaN,NaN,NaN,0,0.0,2019-05-28
39130,40141,정책금융의 현황과 발전과제,정책금융연구회,한국산업은행,-1,9788992784108,NaN,NaN,NaN,327.1,1,0.0,2019-01-22
39256,40268,서울지역 유적 발굴조사 총서 3,서울역사박물관,서울역사박물관,-1,9791186324714,9791186324431,NaN,NaN,NaN,0,0.0,2019-01-22
76836,81202,흰머리 큰줄기,한호진 지음,秀文出版社,-1,9788973010769,NaN,0,NaN,699.1,1,1.0,2016-11-10
150543,160436,(속) 경제학사,박장환 지음,NaN,-1,9788994339207,NaN,1,NaN,320.9,1,2.0,2012-11-19

In [13]:
## 숫자계산을 위해 먼저 변수를 정수형으로 변환한 후, 단기를 서기로 변경 (*참고. 단군기원은 서기 + 2333년이다.)
ns_book5 = ns_book5.astype({'발행년도' : 'int32'})
ns_book5['발행년도'].gt(4000).sum()

131

In [14]:
dg_yy_rows = ns_book5['발행년도'].gt(4000)
ns_book5[dg_yy_rows].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
91004,96933,鳳宇日記,權泰勳 지음;鄭在乘 編,정신세계사,4331,9788935701162,NaN,0,2,081,2,24.0,2016-03-15
91005,96934,鳳宇日記,權泰勳 지음;鄭在乘 編,정신세계사,4331,9788935701155,NaN,0,1,081,2,26.0,2016-03-15
122467,131014,애일라 :항일투쟁으로 산화한 애국지사,김수호 지음,얼레빗,4347,9791185776002,NaN,0,NaN,813.7,1,2.0,2014-07-11
126287,135169,광전자,新井 晃 著,한진,4330,9788986412123,NaN,9,NaN,569,1,2.0,2014-05-04
150544,160437,세계분쟁의 총체적 해법과 조국통일 =(The) world conflict solut...,안창범 지음,삼진출판사,4345,9788994736044,NaN,9,NaN,349.9,1,1.0,2012-11-19

In [15]:
ns_book5.loc[dg_yy_rows, '발행년도'] = ns_book5.loc[dg_yy_rows, '발행년도'] - 2333
ns_book5[dg_yy_rows].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
91004,96933,鳳宇日記,權泰勳 지음;鄭在乘 編,정신세계사,1998,9788935701162,NaN,0,2,081,2,24.0,2016-03-15
91005,96934,鳳宇日記,權泰勳 지음;鄭在乘 編,정신세계사,1998,9788935701155,NaN,0,1,081,2,26.0,2016-03-15
122467,131014,애일라 :항일투쟁으로 산화한 애국지사,김수호 지음,얼레빗,2014,9791185776002,NaN,0,NaN,813.7,1,2.0,2014-07-11
126287,135169,광전자,新井 晃 著,한진,1997,9788986412123,NaN,9,NaN,569,1,2.0,2014-05-04
150544,160437,세계분쟁의 총체적 해법과 조국통일 =(The) world conflict solut...,안창범 지음,삼진출판사,2012,9788994736044,NaN,9,NaN,349.9,1,1.0,2012-11-19

In [16]:
ns_book5['발행년도'].gt(4000).sum()

13

In [17]:
## 단기 --> 서기 변환후에도 13권의 이상한 데이터 존재, -1로 변경해버림 
over_4000 = ns_book5['발행년도'].gt(4000)
ns_book5.loc[over_4000, '발행년도'] = -1

In [18]:
## 발행연도가 1900년 이전인 것도 있다. (음수값은 아까 지정한 값들이므로 주의)
old_book = ns_book5['발행년도'].gt(0) & ns_book5['발행년도'].lt(1900)
#old_book = (ns_book5['발행년도'] > 0) & (ns_book5['발행년도'] < 1900)
ns_book5[old_book].head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
61149,64093,"고흐 씨, 시 읽어 줄까요 :내 마음을 알아주는 시와 그림의 만남",이운진 지음,사계절,176,9788958284277,NaN,0,NaN,811.7,1,6.0,2017-10-27
70566,74347,정신 병리학의 문제들,지은이: 지그문트 프로이트 ;옮긴이: 황보석,열린책들,151,9788932905181,9788932905082,9,10,185.5,1,4.0,2017-04-26
79550,84164,(최근 7년간) 중요 민법판례 :[2009년 1월~2016년 6월 중요 판례],이광섭 편저,법학사,163,9788962898651,NaN,9,NaN,365,1,14.0,2016-09-27
147950,157759,(한·중·일) 밥상 문화 :대표음식으로 본 3국 문화비교,김경은 지음,이가서,132,9788958643012,NaN,0,NaN,381.75,1,30.0,2013-02-19
194576,205407,책으로 뒤덮인 집의 비밀,N.E. 보드 지음 ;피터 퍼거슨 그림 ;김지현 옮김,개암나무,1015,9788992844413,NaN,7,NaN,843,1,15.0,2010-08-18

In [19]:
ns_book5.loc[old_book, '발행년도'] = -1
ns_book5['발행년도'].eq(-1).sum()

86

- 발행년도 데이터에 대한 전처리 완료후, 최종적으로 86개의 알수없는 데이터가 남았다. 
---
#### 4. 누락정보 채우기 
- 도서명/저자/출판사/발행년도 컬럼은 분석에 꼭 필요하므로, 웹에서 정보를 얻어오자.

In [20]:
na_rows = ns_book5['도서명'].isna() | ns_book5['저자'].isna() | ns_book5['출판사'].isna() | ns_book5['발행년도'].eq(-1)
print(na_rows.sum())
ns_book5[na_rows].head()

5268

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
78,79,아산 정주영 레거시,김화진,NaN,2021,9788952129529,NaN,NaN,NaN,325,1,1.0,2021-03-15
265,278,골목의 시간을 그리다,정명섭.김효찬 지음,NaN,2021,9791191266054,NaN,NaN,NaN,NaN,1,0.0,2021-03-12
354,367,한국인의 맛,정명섭 지음,NaN,2021,9791155401804,NaN,NaN,NaN,NaN,1,0.0,2021-03-12
539,552,"한성부, 달 밝은 밤에",김이삭 지음,NaN,2021,9791163161479,NaN,NaN,NaN,NaN,1,0.0,2021-03-12
607,620,100일 완성 마그마 러시아어 중고급 단어장,러포자 구제 연구소 외 지음,NaN,2021,9788974829193,NaN,NaN,NaN,NaN,1,0.0,2021-03-12

In [23]:
import requests
from bs4 import BeautifulSoup 
import re

def get_book_info(row):
    title = row['도서명']
    author = row['저자']
    pub = row['출판사']
    year = row['발행년도']
    # Yes24 도서 검색 페이지 URL
    url = 'http://www.yes24.com/Product/Search?domain=BOOK&query={}'
    # URL에 ISBN을 넣어 HTML 가져옵니다.
    r = requests.get(url.format(row['ISBN']))
    soup = BeautifulSoup(r.text, 'html.parser')   # HTML 파싱
    try:
        if pd.isna(title):
            # 클래스 이름이 'gd_name'인 a 태그의 텍스트를 가져옵니다.
            title = soup.find('a', attrs={'class':'gd_name'}) \
                    .get_text()
    except AttributeError:
        pass

    try:
        if pd.isna(author):
            # 클래스 이름이 'info_auth'인 span 태그 아래 a 태그의 텍스트를 가져옵니다.
            authors = soup.find('span', attrs={'class':'info_auth'}) \
                          .find_all('a')
            author_list = [auth.get_text() for auth in authors]
            author = ','.join(author_list)
    except AttributeError:
        pass

    try:
        if pd.isna(pub):
            # 클래스 이름이 'info_auth'인 span 태그 아래 a 태그의 텍스트를 가져옵니다.
            pub = soup.find('span', attrs={'class':'info_pub'}) \
                      .find('a') \
                      .get_text()
    except AttributeError:
        pass

    try:
        if year == -1:
            # 클래스 이름이 'info_date'인 span 태그 아래 텍스트를 가져옵니다.
            year_str = soup.find('span', attrs={'class':'info_date'}) \
                           .get_text()
            # 정규식으로 찾은 값 중에 첫 번째 것만 사용합니다.
            year = re.findall(r'\d{4}', year_str)[0]
    except AttributeError:
        pass

    return title, author, pub, year

In [27]:
## 전 과정에 대한 일괄처리 함수 


def data_fixing(ns_book4):
    """
    잘못된 값을 수정하거나 NaN 값을 채우는 함수

    :param ns_book4: data_cleaning() 함수에서 전처리된 데이터프레임
    """
    # 도서권수와 대출건수를 int32로 바꿉니다.
    ns_book4 = ns_book4.astype({'도서권수':'int32', '대출건수': 'int32'})
    # NaN인 세트 ISBN을 빈문자열로 바꿉니다.
    set_isbn_na_rows = ns_book4['세트 ISBN'].isna()
    ns_book4.loc[set_isbn_na_rows, '세트 ISBN'] = ''

    # 발행년도 열에서 연도 네 자리를 추출하여 대체합니다. 나머지 발행년도는 -1로 바꿉니다.
    ns_book5 = ns_book4.replace({'발행년도':'.*(\d{4}).*'}, r'\1', regex=True)
    unkown_year = ns_book5['발행년도'].str.contains('\D', na=True)
    ns_book5.loc[unkown_year, '발행년도'] = '-1'

    # 발행년도를 int32로 바꿉니다.
    ns_book5 = ns_book5.astype({'발행년도': 'int32'})
    # 4000년 이상인 경우 2333년을 뺍니다.
    dangun_yy_rows = ns_book5['발행년도'].gt(4000)
    ns_book5.loc[dangun_yy_rows, '발행년도'] = ns_book5.loc[dangun_yy_rows, '발행년도'] - 2333
    # 여전히 4000년 이상인 경우 -1로 바꿉니다.
    dangun_year = ns_book5['발행년도'].gt(4000)
    ns_book5.loc[dangun_year, '발행년도'] = -1
    # 0~1900년 사이의 발행년도는 -1로 바꿉니다.
    old_books = ns_book5['발행년도'].gt(0) & ns_book5['발행년도'].lt(1900)
    ns_book5.loc[old_books, '발행년도'] = -1

    # 도서명, 저자, 출판사가 NaN이거나 발행년도가 -1인 행을 찾습니다.
    na_rows = ns_book5['도서명'].isna() | ns_book5['저자'].isna() \
              | ns_book5['출판사'].isna() | ns_book5['발행년도'].eq(-1)
    # 교보문고 도서 상세 페이지에서 누락된 정보를 채웁니다.
    updated_sample = ns_book5[na_rows].apply(get_book_info,
        axis=1, result_type ='expand')
    updated_sample.columns = ['도서명','저자','출판사','발행년도']
    ns_book5.update(updated_sample)

    # 도서명, 저자, 출판사가 NaN이거나 발행년도가 -1인 행을 삭제합니다.
    ns_book6 = ns_book5.dropna(subset=['도서명','저자','출판사'])
    ns_book6 = ns_book6[ns_book6['발행년도'] != -1]

    return ns_book6

In [32]:
## 함수실행에 장시간 소요됨. 기 만들어진 데이터셋 다운 
import gdown  
gdown.download('http://bit.ly/3UJZiHw', 'data/ns_book5_update.csv', quiet=False)
ns_book5_update = pd.read_csv('data/ns_book5_update.csv', index_col=0)
ns_book5_update.head()

## 사용할 컬럼에서 null값 삭제하고, 발행년도가 이상한 데이터는 분석에서 제외
ns_book5 = ns_book5.astype({'발행년도':'int32'})
ns_book6 = ns_book5.dropna(subset = ['도서명', '저자', '출판사'])
ns_book6 = ns_book6[ns_book6['발행년도'] != -1]

print(ns_book6.shape)
ns_book6.head()

Downloading...
From: http://bit.ly/3UJZiHw
To: D:\YB_data\Git-Study\35.HonGong_analysis\data\ns_book5_update.csv
100%|███████████████████████████████████████████████████████████████████████████████| 406k/406k [00:00<00:00, 2.08MB/s]

(379323, 13)

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0.0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0.0,2021-03-19

In [33]:
ns_book6.to_csv('data/ns_book6.csv', index = False)