In [1]:
import numpy as np 
import pandas as pd 
import matplotlib as mpl
import matplotlib.pyplot as plt 
import seaborn as sns 
sns.set(style = 'whitegrid')
import warnings 
warnings.filterwarnings('ignore')

In [2]:
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['font.size'] = 12
plt.rcParams['figure.figsize'] = (15,4)
mpl.rcParams['axes.unicode_minus'] = False

In [3]:
import xlrd

In [7]:
df_01 = pd.read_csv('data/4) 9월 개질기 운전 밴더_sample.csv', encoding = 'cp949')
df_02 = pd.read_excel('data/sample_10002_AH_column .xlsx')
df_03 = pd.read_excel('data/sample_10959_S&T_column.xlsx')

In [11]:
print(df_03.shape)
df_03.head()

(4869, 160)

,바인딩시간,장비번호,장비날짜,장비시간,Pattern,Load,ACP,TT Cogen,Seq,TT117,...,W_Desulfur,W_CO,W_Backflow,W_P301_F_Cnt,S_Level_Con,S_Desulfur,S_CO,S_Backflow,S_P301_F_Cnt,S_P203OL
0,20190314080004,10959,2019-03-14,0.336759,0,6,854,65.0,4990,247.7,...,False,False,False,False,False,False,False,False,False,False
1,20190314080010,10959,2019-03-14,0.336817,0,6,853,65.0,4990,247.6,...,False,False,False,False,False,False,False,False,False,False
2,20190314080015,10959,2019-03-14,0.336875,0,6,854,65.0,4990,247.7,...,False,False,False,False,False,False,False,False,False,False
3,20190314080020,10959,2019-03-14,0.336933,0,6,854,65.0,4990,247.7,...,False,False,False,False,False,False,False,False,False,False
4,20190314080025,10959,2019-03-14,0.336991,0,6,853,65.0,4990,247.7,...,False,False,False,False,False,False,False,False,False,False

In [16]:
df = pd.concat([df_01, df_02, df_03])
df.shape

(58076, 160)

In [17]:
df_all.head()

,바인딩시간,장비번호,장비날짜,장비시간,Pattern,Load,ACP,TT Cogen,Seq,TT117,...,W_Desulfur,W_CO,W_Backflow,W_P301_F_Cnt,S_Level_Con,S_Desulfur,S_CO,S_Backflow,S_P301_F_Cnt,S_P203OL
0,20190901010002,10965,2019-09-01,0.0404977,0,2,723,59.3,4990,109.9,...,False,False,False,False,False,False,False,False,False,False
1,20190901010103,10965,2019-09-01,0.0412037,0,2,724,59.3,4990,109.9,...,False,False,False,False,False,False,False,False,False,False
2,20190901010204,10965,2019-09-01,0.0419097,0,2,724,59.3,4990,110.0,...,False,False,False,False,False,False,False,False,False,False
3,20190901010305,10965,2019-09-01,0.0426273,0,2,723,59.3,4990,110.1,...,False,False,False,False,False,False,False,False,False,False
4,20190901010401,10965,2019-09-01,0.0432755,0,2,724,59.3,4990,109.8,...,False,False,False,False,False,False,False,False,False,False

In [18]:
df_all.to_csv('output/merged_data.csv')

In [29]:
df_01.head()

,바인딩시간,장비번호,장비날짜,장비시간,Pattern,Load,ACP,TT Cogen,Seq,TT117,...,W_Desulfur,W_CO,W_Backflow,W_P301_F_Cnt,S_Level_Con,S_Desulfur,S_CO,S_Backflow,S_P301_F_Cnt,S_P203OL
0,20190901010002,10965,2019-09-01,0:58:19,0,2,723,59.3,4990,109.9,...,False,False,False,False,False,False,False,False,False,False
1,20190901010103,10965,2019-09-01,0:59:20,0,2,724,59.3,4990,109.9,...,False,False,False,False,False,False,False,False,False,False
2,20190901010204,10965,2019-09-01,1:00:21,0,2,724,59.3,4990,110.0,...,False,False,False,False,False,False,False,False,False,False
3,20190901010305,10965,2019-09-01,1:01:23,0,2,723,59.3,4990,110.1,...,False,False,False,False,False,False,False,False,False,False
4,20190901010401,10965,2019-09-01,1:02:19,0,2,724,59.3,4990,109.8,...,False,False,False,False,False,False,False,False,False,False

In [30]:
## 장비시간 컬럼을 H:M:S 포맷으로 바꿔줘야 한다. 
import datetime 

for i in range(df_03['장비시간'].count()):
    df_03['장비시간'][i] = str(datetime.timedelta(df_03['장비시간'][i])) 
    
df_03['장비시간'].head(10)

0    8:04:56
1    8:05:01
2    8:05:06
3    8:05:11
4    8:05:16
5    8:05:21
6    8:05:26
7    8:05:31
8    8:05:37
9    8:05:42
Name: 장비시간, dtype: object

In [32]:
df = pd.concat([df_01, df_02, df_03])
df.shape

(58076, 160)

In [38]:
df.info

<bound method DataFrame.info of                바인딩시간   장비번호                 장비날짜      장비시간  Pattern  Load  \
0     20190901010002  10965           2019-09-01   0:58:19        0     2
1     20190901010103  10965           2019-09-01   0:59:20        0     2
2     20190901010204  10965           2019-09-01   1:00:21        0     2
3     20190901010305  10965           2019-09-01   1:01:23        0     2
4     20190901010401  10965           2019-09-01   1:02:19        0     2
...              ...    ...                  ...       ...      ...   ...
4864  20190314161936  10959  2019-03-14 00:00:00  16:24:27        0    22
4865  20190314161942  10959  2019-03-14 00:00:00  16:24:32        0    22
4866  20190314161946  10959  2019-03-14 00:00:00  16:24:37        0    22
4867  20190314161951  10959  2019-03-14 00:00:00  16:24:42        0    22
4868  20190314161956  10959  2019-03-14 00:00:00  16:24:48        0    22

      ACP  TT Cogen   Seq  TT117  ...  W_Desulfur   W_CO  W_Backflow  \
0     723      59.3  4990  109.9  ...       False  False       False
1     724      59.3  4990  109.9  ...       False  False       False
2     724      59.3  4990  110.0  ...       False  False       False
3     723      59.3  4990  110.1  ...       False  False       False
4     724      59.3  4990  109.8  ...       False  False       False
...   ...       ...   ...    ...  ...         ...    ...         ...
4864    0      51.7  8380  288.4  ...       False  False       False
4865    0      51.6  8380  288.5  ...       False  False       False
4866    0      51.6  8380  288.4  ...       False  False       False
4867    0      51.6  8380  288.3  ...       False  False       False
4868    0      51.7  8380  288.1  ...       False  False       False

      W_P301_F_Cnt  S_Level_Con  S_Desulfur   S_CO  S_Backflow  S_P301_F_Cnt  \
0            False        False       False  False       False         False
1            False        False       False  False       False         False
2            False        False       False  False       False         False
3            False        False       False  False       False         False
4            False        False       False  False       False         False
...            ...          ...         ...    ...         ...           ...
4864         False        False       False  False       False         False
4865         False        False       False  False       False         False
4866         False        False       False  False       False         False
4867         False        False       False  False       False         False
4868         False        False       False  False       False         False

      S_P203OL
0        False
1        False
2        False
3        False
4        False
...        ...
4864     False
4865     False
4866     False
4867     False
4868     False

[58076 rows x 160 columns]>

In [39]:
## 장비날짜와 장비시간을 합쳐서 새로운 컬럼 equit_dt를 만들자 
df['equip_dt'] = df['장비날짜'] + ' ' + df['장비시간']
df['equip_dt'] = pd.to_datetime(df['equip_dt'])
df['equip_dt'].head()

TypeError: unsupported operand type(s) for +: 'Timestamp' and 'str'